
.RData
.Rhistory
.Rproj.user/2A7FE5CD/cpp-definition-cache
.Rproj.user/2A7FE5CD/pcs/files-pane.pper
.Rproj.user/2A7FE5CD/pcs/source-pane.pper
.Rproj.user/2A7FE5CD/pcs/windowlayoutstate.pper
.Rproj.user/2A7FE5CD/pcs/workbench-pane.pper
.Rproj.user/2A7FE5CD/rmd-outputs
.Rproj.user/2A7FE5CD/saved_source_markers
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/0DED5F2C-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/0DED5F2C-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/0DED5F2C-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/lock_file
.Rproj.user/shared/notebooks/paths
.Rbuildignore
.Rproj.user/2A7FE5CD/sources/prop/2F58C98E
.Rproj.user/2A7FE5CD/sources/prop/D137C4FD
.Rproj.user/2A7FE5CD/sources/prop/EA361AAE
.Rproj.user/2A7FE5CD/sources/prop/INDEX
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/2F234187-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/2F729F89-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/C033145A
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/C033145A-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EAC0D40C
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EAC0D40C-contents
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/2A7FE5CD/ctx/ctx-28033/console_actions
.Rproj.user/2A7FE5CD/ctx/ctx-28033/environment
.Rproj.user/2A7FE5CD/ctx/ctx-28033/environment_vars
.Rproj.user/2A7FE5CD/ctx/ctx-28033/history
.Rproj.user/2A7FE5CD/ctx/ctx-28033/libpaths
.Rproj.user/2A7FE5CD/ctx/ctx-28033/options
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/02dc9510-70b1-4cb7-95e2-341cf1c369c9.png
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/02dc9510-70b1-4cb7-95e2-341cf1c369c9.snapshot
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/3ef8f1d8-0f59-4bd0-a370-5d1867383cdd.png
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/3ef8f1d8-0f59-4bd0-a370-5d1867383cdd.snapshot
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/43b71579-1fb5-4405-b110-d7a733a4514b.png
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/43b71579-1fb5-4405-b110-d7a733a4514b.snapshot
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/531a55c7-a6eb-40ca-b932-d28a4a4822e8.png
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/531a55c7-a6eb-40ca-b932-d28a4a4822e8.snapshot
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/7240dda3-2278-4f53-8512-631737d5eb12.png
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/7240dda3-2278-4f53-8512-631737d5eb12.snapshot
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/empty.png
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/f8a51696-cbc5-4319-af54-86267f3d78b3.png
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/f8a51696-cbc5-4319-af54-86267f3d78b3.snapshot
.Rproj.user/2A7FE5CD/ctx/ctx-28033/plots_dir/INDEX
.Rproj.user/2A7FE5CD/ctx/ctx-28033/rversion
.Rproj.user/2A7FE5CD/ctx/ctx-28033/search_path/package_paths
.Rproj.user/2A7FE5CD/ctx/ctx-28033/search_path/search_path_elements
.Rproj.user/2A7FE5CD/ctx/ctx-28033/settings
.Rproj.user/2A7FE5CD/persistent-state
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/70A210B5-contents
.Rproj.user/2A7FE5CD/pcs/debug-breakpoints.pper
