
.RData
.Rhistory
.Rproj.user/2A7FE5CD/cpp-definition-cache
.Rproj.user/2A7FE5CD/pcs/files-pane.pper
.Rproj.user/2A7FE5CD/pcs/source-pane.pper
.Rproj.user/2A7FE5CD/pcs/windowlayoutstate.pper
.Rproj.user/2A7FE5CD/pcs/workbench-pane.pper
.Rproj.user/2A7FE5CD/rmd-outputs
.Rproj.user/2A7FE5CD/saved_source_markers
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/0DED5F2C-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/0DED5F2C-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/0DED5F2C-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/53AC6D20-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/87EA2707-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/EA4833C5-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/FF830032-contents
.Rproj.user/2A7FE5CD/sources/s-E6754DB0/lock_file
.Rproj.user/shared/notebooks/paths
